<ion-header>
  <ion-toolbar>
    <ion-title>infinite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of items" [routerLink]="'/post/'+item.id">
      <ion-card-content>
        {{item.title.rendered}}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
