<ion-header>
  <ion-toolbar>
    <ion-title>infinite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let item of items" [routerLink]="'/post/'+item.id">
      <ion-card-content *ngIf="item.title.rendered">
        {{item.title.rendered}}<br/>
      </ion-card-content>
      <div *ngIf="!item.title.rendered">
        <ion-row>
          <ion-col size="12">
            <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
            <img [src]="item.img" alt=""/>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
